.App{
  padding: 1%;
  background-color: rgb(156, 168, 171);
  height: 100vh;
}
.card{
    margin-top: 40vh;
    margin-left: 40vw;
}

@media screen and (max-width: 850px) {
  .card{
    margin-top: 40vh;
    margin-left: 8vw;
  }
  }    